.errorlocation {
    width: 50vw;
    height: auto;
    max-width: 600px;
    margin: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorlocation img {
    width: 75%;
}