.card {
    background-color: aqua;
    position: relative;
    width: 44vw;
    margin: 4vw 0 0 4vw;

    border-radius: 4vw;
 


}

.card img {
    width: 100%;
    border-radius:4vw 4vw 0 0;
}

.card__status {
    position: absolute;
    top: 10%;
    width: 40%;
    background-color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 0 10px 10px 0;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__status-circle {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: red;

}

.card__body {
    padding:15px;
}