.App {
    padding: 0 16px 0 16px;
}

.app__banner {
    width: auto;
}
.app__banner--background {
    background-image: url('/rambanner.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 19.145vw;
    max-width: 1400px;
    max-height: 268px;
    margin: auto;
    position: relative;
}

.app__banner--search-box {
    top: 80%;
    left: 50%;
    position: absolute;
}

.app__banner--search-box form {
    width: 400px;
}

.app__residentcard--container {
    margin: auto;
    margin-top: 16px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

/*border: 1px dashed blue;*/